.theme-light {
  --background-1-mobile: url("../images/bg-mobile-light.jpg");
  --background-1-desktop: url("../images/bg-desktop-light.jpg");
  --background-2: hsl(236, 33%, 92%);
  --list-items: hsl(0, 0%, 98%);
  --font-primary: hsl(235, 19%, 35%);
  --font-secondary: hsl(236, 9%, 61%);
  --font-lightgrey: hsl(233, 11%, 84%);
  --font-hover: ;
  --link-hover: hsl(207, 80%, 60%);
  --btn-gradient: linear-gradient(to left top, #b561ed, #ad69f0, #a670f3, #9f77f5, #987df6, #9183f8, #8b89f9, #858efa, #7e95fb, #799bfb, #75a1fb, #72a6fa);
  --title-colour: #ffffff;
}
.theme-dark {
  --background-1-mobile: url("../images/bg-mobile-dark.jpg");
  --background-1-desktop: url("../images/bg-desktop-dark.jpg");
  --background-2: hsl(235, 21%, 11%);
  --list-items: hsl(235, 24%, 19%);
  --font-primary: hsl(234, 39%, 85%);
  --font-lightgrey: hsl(233, 14%, 35%);
  --font-secondary: hsl(234, 11%, 52%);
  --font-hover: hsl(236, 33%, 92%);
  --link-hover: hsl(207, 80%, 60%);
  --border-colour: rgba(191, 191, 191, 0.2);
  --btn-gradient: linear-gradient(to left top, #b561ed, #ad69f0, #a670f3, #9f77f5, #987df6, #9183f8, #8b89f9, #858efa, #7e95fb, #799bfb, #75a1fb, #72a6fa);
}
.crossItem {
  --font-primary: hsl(234, 11%, 52%);
}
